body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.app-title {
  text-align: center;
  padding: 20px;
  background: #2f3640;
  color: white;
}

/* Page */
.page-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */
.card {
  background: white;
  width: 330px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.title {
  margin-bottom: 15px;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  padding: 12px;
  background: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #076fc2;
}

.msg {
  margin-top: 10px;
  color: green;
}

/* Product */
.product-grid {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.product-card {
  background: white;
  width: 180px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cart-box {
  margin-top: 25px;
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}
